@{
    ViewData["Title"] = "Т│етєїжАх";
}

<div class="text-center">
    <div class="formdiv">
        <h1 class="display-4 tag">Т│етєї</h1>
        <form id="loginform" asp-controller="Auth" asp-action="Regist" method="POST">
            <div class="inputwords">
                <p class="msg">­ЪЊЃ</p>
                <div>У┤дтЈи№╝џ<input name="Account" type="text" value="12345678" /></div>
                <div>т»єуаЂ№╝џ<input name="Password" type="password" /></div>
            </div>
            <div>
                <input type="submit" value="Т│етєї" id="sub">
            </div>
        </form>
        <div class="to_registe">
            <p>ТѕЉТюЅУ┤дтЈи№╝Ъ <a asp-controller="Auth" asp-action="Index">Уи│Уйгтѕ░уЎ╗тйЋжАх</a>.</p>
        </div>
    </div>
</div>