@model EFcoreDemo.Models.MyFile

@{
    ViewData["Title"] = "文件上传";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="FileUpload" asp-action="upload" method="post" enctype="multipart/form-data">
        
        <select class="form-control" name="type" style="width: 150px;height:35px;" >
            <option value="java">java</option>
            <option value="C#">C#</option>
            <option value="txt">txt</option>
            <option value="HTML">HTML</option>
        </select>
        </br>
    

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <input name="description" class="form-control form-control-lg" type="text" placeholder="文档描述" style="background-color: transparent;border:none;margin-top:-50px">
            </div>
        </div>
          
        <div >
            <input name="file" type="file" />
            <button type="submit" onclick="upload()">上传文件</button>
        </div>
</form>
<script>
    function upload(){
        alert("上传成功！")
    }
</script>

 

