@{
    ViewData["Title"] = "Login Page";
}

<div style="text-align: center"> 
        <h1 style="margin-left:44px">登录成功</h1>
</div>

@* <table border="2" style="margin:auto">
    <tr>
        <td>id</td>
        <td>username</td>
        <td>password</td>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>12</td>
    </tr>
</table> *@
